<section id="clients">
	<div class="our_clients">

		<!-- CONTAINER -->
		<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
		
			<!-- ROW -->
			<div class="row">
				<% @clients.each do |c| %>
					<div class="col-lg-2 col-md-2 col-sm-2 client_img">
						<%= image_tag(c.image.url(:medium)) %>
					</div>
				<% end %>
			</div><!-- //ROW -->
		</div><!-- CONTAINER -->
	</div><!-- //OUR CLIENTS -->
</section><!-- //SECTION -->