<section id="clients">
	<div class="our_clients">

		<!-- CONTAINER -->
		<div class="container" data-appear-top-offset="-200" data-animated="fadeInUp">
		
			<!-- ROW -->
			<div class="row">
				<div class="col-lg-2 col-md-2 col-sm-2 client_img">
					<img src="assets/clients/reebok.jpg" alt="" />
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 client_img">
					<img src="assets/clients/samsung.jpg" alt="" />
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 client_img">
					<img src="assets/clients/o2.jpg" alt="" />
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 client_img">
					<img src="assets/clients/heineken.jpg" alt="" />
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 client_img">
					<img src="assets/clients/skype.jpg" alt="" />
				</div>
				<div class="col-lg-2 col-md-2 col-sm-2 client_img">
					<img src="assets/clients/pokerstars.jpg" alt="" />
				</div>
			</div><!-- //ROW -->
		</div><!-- CONTAINER -->
	</div><!-- //OUR CLIENTS -->
</section><!-- //SECTION -->