<!-- HOME -->
<section id="home" class="padbot0">
		
	<!-- TOP SLIDER -->
	<div class="flexslider top_slider">
		<ul class="slides">
			<li class="slide1">
				<div class="flex_caption1">
					<p class="title1 captionDelay2 FromTop">Strange</p>
					<p class="title2 captionDelay4 FromTop">Thoughts</p>
					<p class="title4 captionDelay7 FromBottom">Here is the first bit of blurb about the agency. Make it something good y'all</p>
				</div>
			<li class="slide2">
				<div class="flex_caption1">
					<p class="title1 captionDelay6 FromLeft">Strange</p>
					<p class="title2 captionDelay4 FromLeft">Thoughts</p>
					<p class="title4 captionDelay7 FromLeft">Here is the second bit of blurb</p>
				</div>
			</li>
			<li class="slide3">
				<div class="flex_caption1">
					<p class="title1 captionDelay1 FromBottom">Strange</p>
					<p class="title2 captionDelay2 FromBottom">Thoughts</p>
					<p class="title4 captionDelay5 FromBottom">Here is the third bit of blurb.</p>
				</div>
				
				<!-- VIDEO BACKGROUND -->
				<!--><a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}" ></a>-->
				<!-- //VIDEO BACKGROUND -->
			</li>
		</ul>
	</div>
	<div id="carousel">
		<ul class="slides">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div><!-- //TOP SLIDER -->
</section><!-- //HOME -->
