<!-- HOME -->
<section id="home" class="padbot0">
		
	<!-- TOP SLIDER -->
	<div class="flexslider top_slider">
		<ul class="slides">
			<li class="slide1">
				<div class="flex_caption1">
					<p class="title1 captionDelay2 FromTop">What&#160;</p>
					<p class="title2 captionDelay4 FromTop">we do</p>
					<p class="title4 captionDelay7 FromBottom">We deliver amazing ideas, creative, propositions, executions and results to bold brands. Try us. It will work.</p>
				</div>
			<li class="slide2">
				<div class="flex_caption1">
					<p class="title1 captionDelay6 FromLeft">Who we&#160;</p>
					<p class="title2 captionDelay4 FromLeft">work with</p>
					<p class="title4 captionDelay7 FromLeft">We work only with the most innovative brand partners to deliver bold propositions, campaigns and executions.</p>
				</div>
			</li>
			<li class="slide3">
				<div class="flex_caption1">
					<p class="title1 captionDelay1 FromBottom">How we&#160;</p>
					<p class="title2 captionDelay2 FromBottom">do it</p>
					<p class="title4 captionDelay5 FromBottom">We have a unique model of crowd-sourced expertise from the cutting edge of technology and creative. </p>
				</div>
				
				<!-- VIDEO BACKGROUND -->
				<!--><a id="P2" class="player" data-property="{videoURL:'tDvBwPzJ7dY',containment:'.top_slider .slide3',autoPlay:true, mute:true, startAt:0, opacity:1}" ></a>-->
				<!-- //VIDEO BACKGROUND -->
			</li>
		</ul>
	</div>
	<div id="carousel">
		<ul class="slides">
			<li></li>
			<li></li>
			<li></li>
		</ul>
	</div><!-- //TOP SLIDER -->
</section><!-- //HOME -->
