<section id="projects" class="padbot20">
	
	<div id="aboutBanner"><%= image_tag("aboutBanner.png") %></div><br /><br />

	<!-- CONTAINER -->
	<div class="container">
		<h2><b>Featured</b> Works</h2>
	</div><!-- //CONTAINER -->
		
	<div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
		<!-- PROJECTS SLIDER -->
		<div class="owl-demo owl-carousel projects_slider">
			
			<!-- work1 -->
			<div class="item">
				<div class="work_item">
					<div class="work_img">
						<img src="assets/works/beercase.png" alt="" />
						<a class="zoom" href="assets/works/beercase.png" rel="prettyPhoto[portfolio1]" ></a>
					</div>
					<div class="work_description">
						<div class="work_descr_cont">
							<a href="portfolio-post.html" >Mind-Controlled Beer</a>
							<span>17 March, 2041</span>
						</div>
					</div>
				</div>
			</div><!-- //work1 -->
			
			<!-- work2 -->
			<div class="item">
				<div class="work_item">
					<div class="work_img">
						<img src="assets/works/danceroomcase.png" alt="" />
						<a class="zoom" href="assets/works/danceroomcase.png" rel="prettyPhoto[portfolio1]" ></a>
					</div>
					<div class="work_description">
						<div class="work_descr_cont">
							<a href="portfolio-post.html" >Beer and Particle Physics</a>
							<span>17 March, 2041</span>
						</div>
					</div>
				</div>
			</div><!-- //work2 -->
			
			<!-- work3 -->
			<div class="item">
				<div class="work_item">
					<div class="work_img">
						<img src="assets/works/pocketspacecase.png" alt="" />
						<a class="zoom" href="assets/works/pocketspacecase.png" rel="prettyPhoto[portfolio1]" ></a>
					</div>
					<div class="work_description">
						<div class="work_descr_cont">
							<a href="portfolio-post.html" >Pocket Spacecraft</a>
							<span>17 March, 2041</span>
						</div>
					</div>
				</div>
			</div><!-- //work3 -->
			
			<!-- work4 -->
			<div class="item">
				<div class="work_item">
					<div class="work_img">
						<img src="assets/works/reebokcase.png" alt="" />
						<a class="zoom" href="assets/works/reebokcase.png" rel="prettyPhoto[portfolio1]" ></a>
					</div>
					<div class="work_description">
						<div class="work_descr_cont">
							<a href="portfolio-post.html" >Reebok 'I Am Classic'</a>
							<span>17 March, 2041</span>
						</div>
					</div>
				</div>
			</div><!-- //work4 -->
			
			<!-- work5 -->
			<div class="item">
				<div class="work_item">
					<div class="work_img">
						<img src="assets/works/pokercase.png" alt="" />
						<a class="zoom" href="assets/works/pokercase.png" rel="prettyPhoto[portfolio1]" ></a>
					</div>
					<div class="work_description">
						<div class="work_descr_cont">
							<a href="portfolio-post.html" >PokerStars: EPT Live</a>
							<span>17 March, 2041</span>
						</div>
					</div>
				</div>
			</div><!-- //work5 -->
		</div><!-- //PROJECTS SLIDER -->
	</div>
</section><!-- //PROJECTS -->
