<section id="projects" class="padbot20">

	<!-- CONTAINER -->
	<div class="container">
		<h2><b>Featured</b> Works</h2>
	</div><!-- //CONTAINER -->
		
	<div class="projects-wrapper" data-appear-top-offset="-200" data-animated="fadeInUp">
		<!-- PROJECTS SLIDER -->
		<div class="owl-demo owl-carousel projects_slider">
			
			<!-- work1 -->
			<% @projects.each do |p| %>
			<div class="item">
				<div class="work_item">
					<div class="work_img">
						<%= image_tag p.image.url(:medium) %>
						<a class="zoom" href="<%= p.image.url(:medium) %>" rel="prettyPhoto[portfolio1]" ></a>
					</div>
					<div class="work_description">
						<div class="work_descr_cont">
							<a href="portfolio-post.html" ><%= p.title %></a>
							<span>17 March, 2041</span>
						</div>
					</div>
				</div>
			</div><!-- //work1 -->
			<% end %>
		</div><!-- //PROJECTS SLIDER -->
	</div>
</section><!-- //PROJECTS -->
