<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
    	<div class="modal-content windowModal">
			<img class="projectPreloader" src="assets/loading.gif" style="display:none;">
			<div class="modal-fade">
				
			</div>
		</div>
  	</div>
</div>