<section id="team">

	<!-- CONTAINER -->
	<div class="container">
		<h2><b>Start</b> ups</h2>
		
		<!-- TESTIMONIALS -->
		<div class="testimonials" data-appear-top-offset="-200" data-animated="fadeInUp">
				
			<!-- TESTIMONIALS SLIDER -->
			<div class=""><!--owl-demo owl-carousel testim_slider -->
				
				<!-- TESTIMONIAL1 -->
				<div class="item">
					<div class="testim_content">Strange Thoughts for start-ups utilises our model and experience in working with global brands to emerging products and services for application to integrations and marketing campaigns.</div>
					<!--<div class="testim_author">—  Anna Balashova, <b>Philosopher</b></div>-->
				</div><!-- TESTIMONIAL1 -->

			</div><!-- TESTIMONIALS SLIDER -->
		</div><!-- //TESTIMONIALS -->
		
		<!-- RECENT POSTS -->
		<div class="row recent_posts" data-appear-top-offset="-200" data-animated="fadeInUp">
			<div class="col-lg-6 col-md-6 col-sm-6 padbot30 post_item_block">
				<div class="post_item">
					<div class="post_item_img">
						<img src="assets/blog/dareProj.png" alt="" />
						<a class="link" href="http://www.daredevilproject.com/"></a>
					</div>
					<div class="post_item_content">
						<a class="title" href="http://www.daredevilproject.com/">DAREDEVIL PROJECT</a>
						<ul class="post_item_inf">
							<p>Daredevil Project are the creators of ChallengeOff, a mobile multiplayer game that is played in the real world. Completing a list of 1Word tasks in the most creative and entertaining way, players must upload picture evidence to a panel of Daredevil Judges who will award points to each one; the team with the most points wins.</p>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 padbot30 post_item_block">
				<div class="post_item">
					<div class="post_item_img">
						<img src="assets/blog/colorS.png" alt="" />
						<a class="link" href="blog-post.html"></a>
					</div>
					<div class="post_item_content">
						<a class="title" href="blog-post.html" >COLOUR STORY</a>
						<ul class="post_item_inf">
							<p>Colour Story is a new app that allows you to discover the true colours at the heart of your favourite images….</p>
						</ul>
					</div>
				</div>
			</div>
		</div><!-- RECENT POSTS -->
	</div><!-- //CONTAINER -->
</section><!-- //TEAM -->
