
    <div class="modal-content windowModal">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		    <h4 class="modal-title" id="myModalLabel">
				<a href="#" data-remote="true" id="prevArrow"><img src="../assets/prevArrow.png"/></a>
					Mind-Controlled Beer
				<a href="#" data-remote="true" id="nextArrow"><img src="../assets/nextArrow.png"/></a>
			</h4>
		</div>
		<div id="weblink"><a href="http://google.com" target="_blank">Visit the website</a></div></br>
		<div class="modal-body bodyModal">
			<div id="challenge"><h3 class="modal-h3">The Challenge</h3>Strange Thoughts wanted to demonstrate the possibilities of participatory, mind-controlled robotics.<br/><br/></div>
			<div id="solution"><h3 class="modal-h3">The Solution</h3>We brought together a professor of robotics, a rock-star programmer and a neuro-feedback specialist to create Homer, our very own mind-controlled beer pouring robot.<br/><br/></div>
			<div id="result"><h3 class="modal-h3">The Result</h3>Strange Thoughts are already busy designing new mind-controlled experiences and are ready to bring mind-controlled robotics to a brand activation near you...<br/><br/></div>
		</div>
		<%= image_tag('beercase.png', class: "modalImage") %>
	</div>