a:hover {
	text-decoration:none;
}
.userInfo {position:absolute;margin:20px 0px 0px 225px;}
.cmsWrapper, .cmsWrapper2 {
	margin:20px 0px 0px 0px;
	padding:40px;
	float:left;
	clear:both;
	width:100%;
	background-color:#f5f5f5;
	border:2px solid;
	border-radius:15px;
}
.cmsWrapper2{margin-bottom:50px;}
.releases {float:left;clear:both;text-align:left;width:100%;margin:-25px 0px 0px 0px;}
.divHeader {font-color:#000000;font-family:"Open-Sans", helvetica, sans-serif;font-size:1.2em;text-transform:uppercase;letter-spacing:0.10em;font-weight:400;margin:20px 0px 24px 0px;border-bottom:1px solid black;padding:0px 0px 8px 0px;}
.tableWrapper {
    width: 100%;
    background: rgba(32, 35, 38, .8);
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.tableContent {padding:20px 20px;}
.tableHeader {height:45px;font-family:"futura", "Lato";color:#f5f5f5;letter-spacing:1px;}
.tableSubHeader {
	border:1px dotted black;
	padding-left:8px;
	font-size:22px;
	font-weight:800;
	color:#000000;
	margin:6px 0px 0px -2px;
	background-color:rgba(0,0,0,0.2);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}
.individualTable {margin:0px 0px 25px 0px;}
.ruler {position:absolute;width:59%;margin-top:35px;}
.tableRow {font-family:"Open Sans", "helvetica", sans-serif;height:20px;color:#f5f5f5;font-weight:600;}
.empty {font-family:"Open Sans", "futura", sans-serif;font-weight:400;}
.tableRow img {max-width:15px;margin-top:-3px;}
.button {
	width:15%;
	margin-left:42.5%;
	display: inline-block;
	padding: 10px 30px;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.25em;
	background:rgba(0,0,0,0.5);
	color:#ffffff;
	font-family:"Roboto";
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border:1px solid #ffffff;
	z-index:1000;
}
.button:hover {background:rgba(255,255,255,0.9);color:#000000;border:1px solid #ffffff;}
.darkButton2, .darkButton3, .button2, .button3 {
	float:left;clear:both;
	margin:15px 0px -5px 0px;
	padding:1% 1%;
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 400;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border: 1px solid #fff!important;
	background:#202326; 
	font-family:"Open Sans", "futura", sans-serif;
	color:#ffffff;
}
.darkButton3 {display:inline;color:#ffffff;width:25%;margin:0 37.5%;}
.darkButton3:hover, .darkButton2:hover { background: rgba(100, 109, 118, .8); filter: alpha(opacity=80); }
.deviseError {color:#ff0000;}
.button2, .button3 {
	letter-spacing:0.1em;
	padding: 9px 23px;
	width:20%;
	height:40px;
	margin-left:40%;
	background: rgba(100, 109, 118, 1);
	font-family:"Open Sans", sans-serif;
	border: none!important;
}
.button3 {width:40%;margin-left:30%;}
.button2:hover, .button3:hover { background: rgba(100, 109, 118, .8); filter: alpha(opacity=100); }
h1.modalFormTitle {font-family:"Lato";font-size:24px;color:#202326!important;margin:30px 10% 20px 10%;padding-bottom:10px;letter-spacing:1px;width:80%;border-bottom:1px dotted #202326;}
h3.modalFormUpdated {font-family:"helvetica", helvetica, sans-serif;font-size:18px;color:#858585!important;margin:30px 10% 0px 10%;text-transform:lowercase;letter-spacing:0px;}
#form-content {
	min-height:300px;
}
.edit img {max-width:25%;margin:3px 0px 0px 25px;}
.delete img {max-width:75%;margin:3px 0px 0px 0px;}
.half {width:48%!important;}
.floatLeft {float:left;}
.floatRight {float:right;}
.padder {margin-top:50px;}