<!-- FOOTER -->
<footer>
	<div class="container">
	
		<!-- ROW -->
		<div class="row" data-appear-top-offset="-200" data-animated="fadeInUp">
		
			<div class="col-lg-4 col-md-4 col-sm-6 padbot30">
				<h4><b>Featured</b> posts</h4>
				<div class="recent_posts_small clearfix">
					<div class="post_item_img_small">
						<img src="assets/blog/1.jpg" alt="" />
					</div>
					<div class="post_item_content_small">
						<a class="title" href="blog.html" >As we have developed a unique layout template</a>
						<ul class="post_item_inf_small">
							<li>10 January 2014</li>
						</ul>
					</div>
				</div>
				<div class="recent_posts_small clearfix">
					<div class="post_item_img_small">
						<img src="assets/blog/2.jpg" alt="" />
					</div>
					<div class="post_item_content_small">
						<a class="title" href="blog.html" >How much is to develop a design for the game?</a>
						<ul class="post_item_inf_small">
							<li>14 January 2014</li>
						</ul>
					</div>
				</div>
				<div class="recent_posts_small clearfix">
					<div class="post_item_img_small">
						<img src="assets/blog/3.jpg" alt="" />
					</div>
					<div class="post_item_content_small">
						<a class="title" href="blog.html" >How to pump designer</a>
						<ul class="post_item_inf_small">
							<li>21 December 2013</li>
						</ul>
					</div>
				</div>
			</div>
		
			<div class="col-lg-3 col-md-3 col-sm-6 padbot30 foot_about_block">
				<h4><b>Tweets</b></h4>
				<p><a class="twitter-timeline" href="https://twitter.com/StrangeThoughtX" data-chrome="nofooter transparent noheader noborders noscrollbar" data-tweet-limit="1" data-theme="dark" width="100%" data-widget-id="441864208045465600">Tweets by @StrangeThoughtX</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

				</p>
				<ul class="social">
					<li><a href="https://twitter.com/StrangeThoughtX" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li><a href="http://www.youtube.com/user/morestrangethoughts/featured" target="_blank"><i class="fa fa-youtube"></i></a></li>
					<li><a href="http://www.linkedin.com/company/strange-thoughts" target="_blank"><i class="fa fa-linkedin"></i></a></li>
				</ul>
			</div>
		
			<div class="respond_clear"></div>
		
			<div class="col-lg-5 col-md-5 padbot30">
				<h4><b>Contacts</b> Us</h4>
			
				<!-- CONTACT FORM -->
				<div class="span9 contact_form">
					<div id="note"></div>
					<div id="fields">
						<form id="contact-form-face" class="clearfix" action="#">
							<input type="text" name="name" value="Name" onFocus="if (this.value == 'Name') this.value = '';" onBlur="if (this.value == '') this.value = 'Name';" />
							<textarea name="message" onFocus="if (this.value == 'Message') this.value = '';" onBlur="if (this.value == '') this.value = 'Message';">Message</textarea>
							<input class="contact_btn" type="submit" value="Send message" />
						</form>
					</div>
				</div><!-- //CONTACT FORM -->
			</div>
		</div><!-- //ROW -->
	</div><!-- //CONTAINER -->
</footer><!-- //FOOTER -->